<%
   params||={}
   page_count = pages.total_pages
   cur_page = params[:page].to_i
   pre_start = cur_page-4>0 ? cur_page-4 : 1
   next_end = cur_page+4<page_count ? cur_page+4 : page_count
%>
<div class="clearfix" style="line-height: 20px;padding: 10px 0;">
  <div class="pagin2">
    <div class="pagination">
      <ul class="pagination">
        <li class="prev previous_page">
          <% if cur_page>1 -%>
              <%= link_to '上一页', '#', onclick: "__load_part(#{cur_page-1});return false;" -%>
          <% else -%>
              <%= link_to '上一页', '#', onclick: 'return false' -%>
          <% end -%>
        </li>
        <!-- 前置区 开始 -->
        <%
           if pre_start-1>0
             left_start = 1
             left_end = pre_start>3 ? 3 : pre_start-1
             (left_start..left_end).each do |p|
        -%>
                <% if p<pre_start-1 and p==left_end -%>
                    <li class="disabled">
                      <%= link_to '...', '#', onclick: 'return false' -%>
                    </li>
                <% else -%>
                    <li>
                      <%= link_to p, '#', onclick: "__load_part(#{p});return false;" -%>
                    </li>
                <% end -%>
            <%
               end
               end
            -%>
        <!-- 前置区 结束 -->

        <!-- 中间区 开始 -->
        <%
           (pre_start..next_end).each do |p|
        -%>
            <% if cur_page!=p -%>
                <li>
                  <%= link_to p, '#', onclick: "__load_part(#{p});return false;" -%>
                </li>
            <% else -%>
                <li class="active">
                  <%= link_to p, '#', onclick: 'return false' -%>
                </li>
            <% end -%>
        <% end -%>
        <!-- 中间区 结束 -->

        <!-- 后置区 开始 -->
        <% if next_end<page_count
             right_start = page_count-2>next_end ? page_count-2 : next_end+1
             right_end = page_count
             (right_start..right_end).each do |p|
        -%>
                <% if p==right_start and p-next_end>1 -%>
                    <li>
                      <%= link_to '...', '#', onclick: 'return false' -%>
                    </li>
                <% else -%>
                    <li>
                      <%= link_to p, '#', onclick: "__load_part(#{p});return false;" -%>
                    </li>
                <% end -%>
            <%
               end
               end -%>
        <!-- 后置区 结束 -->
        <li class="next next-page">
          <% if cur_page<page_count -%>
              <%= link_to '下一页', '#', onclick: "__load_part(#{params[:page].to_i+1});return false;" -%>
          <% else -%>
              <%= link_to '下一页', '#', onclick: 'return false' -%>
          <% end -%>
        </li>
        <li>
          <span style="float: left;">&nbsp;到<%= text_field_tag 'go_page_number', params[:page].to_i, :size => 3, :style => "height:17px;text-align: center;" -%>
            页</span>
          <%= link_to '跳转', '#', onclick: "go_to_part(#{page_count});return false;" -%>
        </li>
      </ul>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= "总共#{pages.total_entries}条数据" %>
</div>

<script type="text/javascript">
    <%
     except_param = [:page,:action,:controller,:id]+(options[:except_params]||[])
     page_params = params.except(except_param).merge(options[:with_params]||{}).to_param
     page_path = url_for(controller: params[:controller],action: params[:action], id: params[:id])
    -%>
    function __load_part(to_page) {
        $('<%= jq_selector -%>').html(LOADING_IMG);
        var this_url = '<%= "http://#{request.host}" -%>';
        $.ajax({url: this_url + "<%= page_path + '?' + page_params -%>" + "&page=" + to_page,
            type: 'GET', cache: false,
            dataType: 'jsonp', crossDomain: true,
            success: function (json) {
                $("<%=jq_selector-%>").html(json.html);
            }
        });
    }
    function go_to_part(total_pages) {
        var to_page = $('#go_page_number').val();
        var reg = new RegExp("^[0-9]*$");
        if(!reg.test(to_page)){
            alert("请输入数字!");
            return false;
        }
        if(parseInt(to_page)<=0){
            to_page = 1;
        }else if(parseInt(to_page)>total_pages){
            to_page = total_pages
        }
        if (parseInt(to_page) > 0) {
            $('<%= jq_selector -%>').html(LOADING_IMG);
            var this_url = '<%= "http://#{request.host}" -%>';
            $.ajax({url: this_url + "<%= page_path + '?' + page_params -%>" + "&page=" + to_page,
                type: 'GET', cache: false,
                dataType: 'jsonp', crossDomain: true,
                success: function (json) {
                    $("<%=jq_selector-%>").html(json.html);
                }
            });
        }
    }
</script>