<ul>
  <li><%= link_to '首页', {controller: 'users'} -%></li>
  <li><%= link_to '用户', {controller: 'users'} -%></li>
  <li><%= link_to '项目', {controller: 'projects'} -%></li>
  <li><%= link_to '歌曲', {controller: 'songs'} -%></li>
  <li><%= link_to '诗词', {controller: 'poetries'} -%></li>
  <li><%= link_to '美文', {controller: 'proses'} -%></li>
  <li><%= link_to '段子', {controller: 'pieces'} -%></li>
  <li><%= link_to '评论', {controller: 'topics'} -%></li>
</ul>