<!DOCTYPE html>
<html>
<head>
  <title>刘向平</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <%= render :partial => 'layouts/header' -%>
  <div class="inner wrap clearfix">
    <div class="inner_top"><%= render :partial => 'layouts/top' -%></div>
    <div class="sidebar"><%= render :partial => 'layouts/sidebar' -%></div>
    <div class="content clearfix"><%= yield %></div>
  </div>
  <%= render :partial => 'layouts/footer' -%>
</div>
</body>
</html>
